<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585255946345-abd8rckqdc52ip9j0m4bl44h0uj15d15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585255946345-abd8rckqdc52ip9j0m4bl44h0uj15d15</string>
	<key>API_KEY</key>
	<string>AIzaSyByjuU3_xosqJzSSpAlYdk-RasOxadBwJw</string>
	<key>GCM_SENDER_ID</key>
	<string>585255946345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.karmon.app</string>
	<key>PROJECT_ID</key>
	<string>karmon-b5d44</string>
	<key>STORAGE_BUCKET</key>
	<string>karmon-b5d44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585255946345:ios:fcedb2ba36b76cd79fbaf8</string>
	<key>DATABASE_URL</key>
	<string>https://karmon-b5d44-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>